{% extends 'accounts/account_base.html' %}

{% block context %}
    <div class="h1 mb-3">Login</div>
    <form method="POST">
        <div class="mb-3">
            {% with  filed=form.email %}
                {{ filed.label(class="form-label") }}
                {% if filed.errors %}
                    {{ filed(class="form-control border-danger") }}
                    {% for error in filed.errors %}<small class="text-danger form-text">{{ error }}</small>{% endfor %}
                {% else %}
                    {{ filed(class="form-control") }}
                {% endif %}
                {% if filed.description %}<small class="form-text">{{ filed.description }}</small>{% endif %}
            {% endwith %}
        </div>
        <div class="mb-3">
            {% with  filed=form.password %}
                {{ filed.label(class="form-label") }}
                {% if filed.errors %}
                    {{ filed(class="form-control border-danger") }}
                    {% for error in filed.errors %}<small class="text-danger form-text">{{ error }}</small>{% endfor %}
                {% else %}
                    {{ filed(class="form-control") }}
                {% endif %}
                {% if filed.description %}<small class="form-text">{{ filed.description }}</small>{% endif %}
            {% endwith %}
        </div>
        <div class="mb-3 form-check">
            {% with filed=form.remember_me %}
                {% if filed.errors %}
                    {{ filed(class="form-check-input border-danger") }}{{ filed.label(class="form-label") }}
                    <br>
                    {% for error in filed.errors %}<small class="text-danger form-text">{{ error }}</small>{% endfor %}
                {% else %}
                    {{ filed(class="form-check-input") }}{{ filed.label(class="form-label") }}
                {% endif %}
                {% if filed.description %}<small class="form-text">{{ filed.description }}</small>{% endif %}
            {% endwith %}
        </div>
        <div class="col text-end">
            {{ form.submit(class="btn btn-primary px-4") }}
        </div>
    </form>
    <div class="pt-4 text-center">
        Not registered? <a href="{{ url_for('account.register') }}">Create an account</a>
    </div>
{% endblock %}
