{% extends 'accounts/account_base.html' %}

{% block context %}
    <div class="h1 mb-3">Register</div>
    <form method="POST">
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.description %}
                <small class="form-text">{{ form.email.description }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password1.label(class="form-label") }}
            {{ form.password1(class="form-control") }}
            {% if form.password1.description %}<small class="form-text">{{ form.password1.description }}</small>{% endif %}
        </div>
        <div class="mb-3">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control") }}
            {% if form.password2.description %}<small class="form-text">{{ form.password2.description }}</small>{% endif %}
        </div>
        <div class="mb-3 form-check">
            {{ form.agree(class="form-check-input") }}
            {{ form.agree.label(class="form-label") }}
            {% if form.agree.description %}<small class="form-text">{{ form.agree.description }}</small>{% endif %}
        </div>
        <div class="col text-end">
            {{ form.submit(class="btn btn-primary px-4") }}
        </div>
    </form>
    <div class="pt-4 text-center">
        Already have an account? <a href="{{ url_for('account.login') }}">Login</a>
    </div>
{% endblock %}
